@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components{
    body{
        @apply bg-[url('/bg.jpeg')] bg-no-repeat  bg-cover
    }
    .box {
        flex: 1;
        
        height: 400px;
        background-color: #eee;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.2s ease-in-out;
      }
      
      .box:hover {
        transform: scale(1.1);
        cursor: pointer;
      }
      
      .box.active {
        transform: scale(1.2);
        background-color: #333;
        color: #fff;
      }
      
}